@{
    ViewBag.Title = "Contacto";
}
<div class="shop-back">
    <a href="@Url.Action("Index","Home")">&lt;-- Regresar al Menu Principal</a>
</div>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. Fuente de Venus, #1301<br />
    Col. Voluntad, Mexicali, B.C., C.P. 21323.<br />
    <abbr title="Phone">Telefono:</abbr>
    686.455.0909
</address>

<address>
    <strong>Correo electronico</strong>   <a href="mailto:DulcesDelicias@gmail.com">DulcesDelicas@gmail.com</a><br />
</address>